In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('Open_data/YouBike/YouBike場站建置成本.csv', encoding='big5')
df1

          場站編號            站名 金額（土木施工費用）
0    500101002   復興南路二段273號前      9,574
1    500101003     國北教大實小東側門      5,456
2    500101004        和平公園東側      6,037
3    500101005     辛亥復興路口西北側      4,858
4    500101006   復興南路二段280號前      4,858
..         ...           ...        ...
755  500113042          華西公園       6928
756  500113043          老松國小       6928
757  500113044         萬華火車站      39652
758  500113045   萬華火車站(D2廣場)      39347
759  500113046  捷運龍山寺站(3號出口)      11765

[760 rows x 3 columns]

In [25]:
df1['金額（土木施工費用）'] = df1['金額（土木施工費用）'].replace(',', '', regex=True)
df1

          場站編號            站名 金額（土木施工費用）
0    500101002   復興南路二段273號前       9574
1    500101003     國北教大實小東側門       5456
2    500101004        和平公園東側       6037
3    500101005     辛亥復興路口西北側       4858
4    500101006   復興南路二段280號前       4858
..         ...           ...        ...
755  500113042          華西公園       6928
756  500113043          老松國小       6928
757  500113044         萬華火車站      39652
758  500113045   萬華火車站(D2廣場)      39347
759  500113046  捷運龍山寺站(3號出口)      11765

[760 rows x 3 columns]

In [27]:
df1['金額（土木施工費用）'] = df1['金額（土木施工費用）'].astype(int)
df1

          場站編號            站名  金額（土木施工費用）
0    500101002   復興南路二段273號前        9574
1    500101003     國北教大實小東側門        5456
2    500101004        和平公園東側        6037
3    500101005     辛亥復興路口西北側        4858
4    500101006   復興南路二段280號前        4858
..         ...           ...         ...
755  500113042          華西公園        6928
756  500113043          老松國小        6928
757  500113044         萬華火車站       39652
758  500113045   萬華火車站(D2廣場)       39347
759  500113046  捷運龍山寺站(3號出口)       11765

[760 rows x 3 columns]

In [33]:
df11 = df1.sort_values(by='金額（土木施工費用）', ascending=False, ignore_index=True)
df11

          場站編號            站名  金額（土木施工費用）
0    500101113   臺北市立圖書館(總館)      148074
1    500111010       研究院舊莊街口      146136
2    500106055  臺北市立大學(博愛校區)      105173
3    500112029         臺北市政府      103651
4    500119048      臺大大一女舍北側      101418
..         ...           ...         ...
755  500108013    東湖路113巷95弄        4714
756  500108064   捷運內湖站(2號出口)        4714
757  500105032      忠順區民活動中心        4714
758  500119054      臺大心理系館南側        4277
759  500101021        銘傳國小側門        3679

[760 rows x 3 columns]

In [34]:
df2 = pd.read_csv('Open_data/YouBike/YouBike站位每月熱門站點.csv', encoding='big5')
df2

       時間  序號（排序）           站位名稱
0  112年5月       1    捷運公館站(2號出口)
1  112年5月       2    捷運公館站(3號出口)
2  112年5月       3        捷運科技大樓站
3  112年5月       4        捷運中山國中站
4  112年5月       5  捷運芝山站(2號出口)_1
5  112年5月       6    捷運永春站(2號出口)
6  112年5月       7   捷運行天宮站(3號出口)
7  112年5月       8           松山車站
8  112年5月       9          大稻埕碼頭
9  112年5月      10         捷運六張犁站

In [46]:
fund = []

for i in df2['站位名稱']:
    count = 0
    for j in df1['站名']:
        if i == j:
            fund.append(df1.iloc[count, 2])
            break
        if count == len(df1)-1:
            fund.append(np.nan)
        count += 1
df2['建置成本'] = fund
df2

       時間  序號（排序）           站位名稱     建置成本
0  112年5月       1    捷運公館站(2號出口)  18141.0
1  112年5月       2    捷運公館站(3號出口)      NaN
2  112年5月       3        捷運科技大樓站   9574.0
3  112年5月       4        捷運中山國中站   6042.0
4  112年5月       5  捷運芝山站(2號出口)_1      NaN
5  112年5月       6    捷運永春站(2號出口)   5157.0
6  112年5月       7   捷運行天宮站(3號出口)  34752.0
7  112年5月       8           松山車站   6928.0
8  112年5月       9          大稻埕碼頭      NaN
9  112年5月      10         捷運六張犁站  41075.0